<div class="btn-group" role="group">
  <button
    type="button"
    class="btn btn-secondary {{if @isOn "btn-success active" "disabled"}}"
  >
    On
  </button>
  <button
    type="button"
    class="btn btn-secondary {{unless @isOn "btn-danger active" "disabled"}}"
  >
    Off
  </button>
</div>