<div class="col-sm">
    <div class="card">
      <h5 class="card-header">
        DFP control
      </h5>
      <div class="card-body">
        <p>
          <table class="table" >
            <tbody>
            <tr>
              <th>
                Auto
              </th>
              <td>
                <ButtonOnOff @isOn={{true}} />
              </td>
            </tr>
            <tr>
              <th>
                Stop
              </th>
              <td>
                <ButtonOnOff @isOn={{true}} />
              </td>
            </tr>
            <tr>
              <th>
                Status
              </th>
              <td>
                <DfpStatus @isOn={{true}} />
              </td>
            </tr>
            <tr>
              <th>
                Last washing
              </th>
              <td>
                2020-01-01 10:00:00
              </td>
            </tr>
            <tr>
              <th>
                Average washing time
              </th>
              <td>
                120 min
              </td>
            </tr>
            <tr>
              <th>
                Watter used
              </th>
              <td>
                120l en 24h
              </td>
            </tr>
            </tbody>
            <tfoot>
              {{#if this.tfpError}}
                <p class="text-danger">{{this.dfpError}}</p>
              {{/if}}
            </tfoot>
          </table>
        </p>
      </div>
    </div>
</div>