<div class="row">
    <DfpConfig @config={{this.dfpConfig}} />
    <TfpConfig @config={{this.tfpConfig}} />
    
    {{#each this.tankConfigs as |tankConfig|}}
    <TankConfig @config={{tankConfig}} />
    
    {{/each}}
</div>